option_settings:
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    SSLCertificateId: arn:aws:elasticloadbalancing:ca-central-1:736163101415:listener/app/awseb-AWSEB-1IVZUITSFGTXV/fce80616fba7e8f1/7623cea70e2e8764
    InstancePort: 8081
    InstanceProtocol: HTTP
  aws:elb:listener:80:
    ListenerEnabled: false
